body{
    /* display: flex; */
    margin: 0 auto;
    width: 550px;
    height: 704px;
    text-align: center;
    background:#FFFFFF;
    ;

    
}

.header{
    display: flex;
    width: 550px;
    height:55px;
    justify-content: center;
    align-items: center;
    background:#F55A5A ;
}
header > div:nth-child(2){
    text-align: center;
    color: #FFFFFF;
    font-style: inherit;
}

#world-png{
    height: 24px;
    width: px;
    padding-right: 3px;
    margin-top: 5px;
    
}

.japan{
    display: flex;
    margin: 50px;
    width: 470px;
    height: 220px;
    text-align: start;
    
}

.japan img{
    padding: 20px;

}

.japan-content{
    font-size: 12px;
}

#map{
    margin-top: 30px;
    padding: px;
    display: inline-flex;
    font-style: initial;
}
#map #location{
    display: inline-block;
    justify-content: flex-start;
    align-items: flex-end;
    /* border: 2px solid red; */
    padding: 4px;
}
